.header-container {
    display: flex;
    align-self: flex-start;
    background-color: blueviolet;
    height: 7vh;
    width: 100%;
}

.header-home-icon {
    height: 50px;
    width: 50px;
    color: white;
    padding: 5px;
    margin-left: 2vh;
}