.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 240px;
    height: 380px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
  }
  .tile.main, .tile.inactive {
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #3498db;

  }  
  .tile.main:hover {
    transform: scale(1.05); /* Die Kachel vergrößert sich leicht beim Hover */
  }
  